/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
.body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

li.bold {
	font-weight: bold;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.galery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.galery img {
	width: 100%;

}

.login {
	width: 75%;
	margin: auto;
}
.formulaire {
	width: 50%;
	margin: auto;
	color: #3D3D3D;
}
.formulaire > * {
	text-align: center;

}
.formulaire h2{
	margin-bottom: 20px;
}
.formulaire form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

.formulaire input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.formulaire label {
	margin: 2em 0 1em 0;
}
.formulaire textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.formulaire a {
	text-align: center;
	color: #3D3D3D;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Code CSS supplémentaire personnalisé*/
body {
	background-color: #FFFEF8;
}

.blackDiv {
	display: flex;
	width: 100%;
	margin: 0;
	justify-content: center;
	background-color: black;
	color: white;
}
.blackDiv p {
	display: inline-block;
	padding: 10px 20px;
	margin: 10px 0;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 16px;
}

.fa-pen-to-square {
	margin-right: 10px;
}

.blackDiv__white {
	font-size: 14px;
	color: black;
	background-color: white;
	border-radius: 60px;
	font-weight: 500;
}

.intro__modifier{
	width: 80%;
	margin: 20px auto 0px;
}

.portfolio__titre {
	position: relative;
}

.portfolio__titre--modifier{
	position: absolute;
	right: 32%;
	top: 25%;
}

.On {
	display: block;
}

.Off {
	display: none;
}

a {
	color:#3D3D3D;
	text-decoration: none;
}
a:hover{
	color: #B1663C;
}

#filtre {
	margin-top: 75px;
	margin-bottom: 50px;
}

#filtre ul {
	display: flex;
	justify-content: center;
	gap: 15px;
}

#filtre ul li {
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 11px 15px;
	color: #1D6154;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Syne';
	min-width: 100px;
	text-align: center;
}

#filtre ul .selected {
	background-color: #1D6154;
	color: white;
}

footer {
	background-color: white;
	font-family: 'Work Sans';
	height: 60px;
	font-size: 14px;
	font-weight: 300;
}

.footerLogin {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.modal {
	position: fixed;
	display: none;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
	width: 420px;
	height: 641px;
	border-radius: 10px;
	padding: 60px 105px 30px;
	background-color: #FFFEF8;
}

.modalGalerie {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
}

.fa-xmark {
	position: absolute;
	top: -40px;
	right: -80px;
}

.titleModal {
	text-align: center;
	color: #000;
	font-family: "Work Sans";
	font-weight: 400;
	font-size: 26px;
	margin-bottom: 40px;
}

.galerieModal {
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
	height: 420px;
}

.galerieModal figure {
	width: 76px;
	flex-basis: 20%;
	position: relative;
	height: 130px;
}

.galerieModal figure i {
	position: absolute;
	top: 6px;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
	padding: 3px;
	font-size: 10px;
}

.fa-trash-can {
	right: 12px;
}

.fa-up-down-left-right {
	right: 30px;
}

.galerieModal figure img {
	height: 102px;
	max-width: 76px;
	object-fit: cover;
}

.galerieModal figure p {
	font-family: "Work Sans";
	font-weight: 400;
	font-size: 12px;
}

.separateur{
	width: 420px;
	border-bottom: 2px solid #B3B3B3;
	margin-top: 20px;
}

#modifGalerie {
	display: flex;
	flex-direction: column;
}

.ajoutPhoto {
	font-size: 14px;
	font-family: "Syne";
	font-weight: 700;
	border: none;
	width: 215px;
	text-align: center;
	color: #FFF;
	background-color: #1D6154;
	padding: 11px;
	border-radius: 60px;
	margin: 40px 0 20px;
}

.ajoutPhoto:hover, .delete:hover, .fa-xmark:hover, .fa-arrow-left:hover {
	cursor: pointer;
}

.delete {
	margin-top: 20px;
	width: 230px;
	margin: 0 auto;
	color: #D65353;
	text-align: center;
}

.modalAjout {
	position: relative;
	display: none;
}

.fa-arrow-left {
	position: absolute;
	top: -40px;
	left: -80px;
}

.modalFormAjout {
	display: flex;
	flex-direction: column;
}

.divUpload {
	position: relative;
	overflow: hidden;
	width: 420px;
	height: 169px;
	background-color: #E8F1F6;
}

.divUpload:hover *{
	cursor: pointer;
}

.divUpload #imgUpload {
	position: absolute;
	top: 15px;
	left: 40.5%;
}

.divUpload #image{
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	font-size: 150px;
}

.divUpload .buttonUpload{
	position: absolute;
	top: 95px;
	left:30%;
	border: none;
	border-radius: 50px;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	padding: 10px 30px;
	background-color: #CBD6DC;
	color: #306685;
}

.divUpload p {
	position: absolute;
	top: 145px;
	left: 39%;
	color: #444444;
	font-family: 'Work Sans';
	font-size: 10px;
	font-weight: 400;
}

.modalFormAjout label {
	margin: 15px 0 10px;
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 500;
}

.modalFormAjout #titre {
	width: 412px;
	height: 51px;
	border: none;
	box-shadow: 2px 3px 7px -2px rgba(0,0,0,0.2);
}

.modalFormAjout select {
	width: 420px;
	height: 51px;
	margin-bottom: 25px;
	border: none;
	box-shadow: 2px 3px 7px -2px rgba(0,0,0,0.2);
}

#submitModal {
	font-size: 14px;
	font-family: "Syne";
	font-weight: 700;
	border: none;
	width: 237px;
	text-align: center;
	color: #FFF;
	padding: 11px;
	border-radius: 60px;
	margin: 40px auto 20px;
}

#submitModal.submitNOGO {
	background-color: #A7A7A7;
}

#submitModal.submitNOGO:hover {
	cursor: not-allowed;
}

#submitModal.submitGO {
	background-color: #1D6154;
}

#submitModal.submitGO:hover {
	cursor: pointer;
}


#required {
	display: none;
	color: red;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}

.modalFormAjout #required {
	margin-top: 10px;
}